:root {
  --fontColor: rgb(56, 55, 55);
}

.productCard__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  width: 300px;
  height: 370px;
  margin: 10px;
  border-radius: 10px;
}

.leftPadding {
  padding-left: 10px;
}

.productCard__name {
  font-weight: 800;
}
.productCard__brand {
  font-size: 0.8rem;
  color: var(--fontColor);
}
.productCard__rating {
  color: var(--fontColor);
  font-size: 0.2rem;
}
.productCard__price {
  font-weight: 800;
}
